canvas {
  
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;
   background: #fc0; /* Цвет фона */
   

}
.underline {
padding-top: 50%;
text-align: center;
  position: absolute;
   border-bottom: 2px solid currentColor;
   border-bottom-color: darkorange;
}

.video {

width: 100%;

height: 100%;

}