@font-face {
 
font-family: "DoFuturistic"; 
src: url("BaronNeue.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

h1{

	text-align: center;
	font-family: DoFuturistic;
}

.video {
	padding-top: -20%;
position: absolute;
width: 100%;
height: 100%;

}


.underline {
	text-align: center;
	position: absolute;
  font-family: DoFuturistic;

}